[Unit]
Description=tinyd metrics collector
After=network.target

[Service]
Type=simple
ExecStart=/usr/sbin/tinyd --metrics All
Restart=on-failure
RestartSec=5
User=tinyd
Group=wheel

[Install]
WantedBy=multi-user.target

